<h1>Urls#new</h1>
<p>Find me in app/views/urls/new.html.erb</p>


<%= form_with model: @url, url: urls_create_path, method: :post do |form| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
        <% @url.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :original %>
    <%= form.text_field :original %>
  </div>

  <div class="actions">
    <%= form.submit 'Shorten' %>
  </div>
<% end %>

